/*

COLORS

*/
#tab_about-us {
  background: #fff; }

.wrapper-top {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding: 20px 20px 0 20px;
  box-sizing: border-box; }
  @media only screen and (max-width: 860px) {
    .wrapper-top {
      -ms-flex-direction: column;
          flex-direction: column; } }
  .wrapper-top .top-img {
    display: -ms-flexbox;
    display: flex;
    width: 50%; }
    .wrapper-top .top-img img {
      width: 380px;
      height: 250px; }
  .wrapper-top .top-txt {
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -ms-flex-direction: column;
        flex-direction: column;
    font-weight: 400; }
    @media only screen and (max-width: 860px) {
      .wrapper-top .top-txt {
        margin-top: 20px;
        width: 100%; } }
    .wrapper-top .top-txt h2 {
      font-size: 22px;
      font-weight: 700;
      margin-top: 0; }
    .wrapper-top .top-txt p {
      font-size: 15px;
      line-height: 24px;
      margin: 5px 0; }

.wrapper-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 20px; }
  @media only screen and (max-width: 860px) {
    .wrapper-bottom {
      -ms-flex-direction: column;
          flex-direction: column; } }
  .wrapper-bottom .single-link {
    display: -ms-flexbox;
    display: flex;
    width: 32%;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 20px;
    background: #f6f6f6;
    box-sizing: border-box;
    text-decoration: none;
    color: #494949;
    position: relative;
    height: 270px;
    margin-top: 0 !important;
    border: none !important; }
    @media only screen and (max-width: 860px) {
      .wrapper-bottom .single-link {
        width: 100%;
        margin-bottom: 20px; } }
    .wrapper-bottom .single-link .link-infos {
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px;
      -ms-flex-align: center;
          align-items: center; }
      .wrapper-bottom .single-link .link-infos .link-infos-logo {
        width: 64px;
        height: 64px;
        margin-right: 10px; }
        .wrapper-bottom .single-link .link-infos .link-infos-logo img {
          width: 100%; }
      .wrapper-bottom .single-link .link-infos .link-infos-txt {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column; }
        .wrapper-bottom .single-link .link-infos .link-infos-txt h3 {
          color: #f56640;
          margin-bottom: 0;
          margin-top: 0; }
        .wrapper-bottom .single-link .link-infos .link-infos-txt p {
          margin-top: 0;
          margin-bottom: 0; }
    .wrapper-bottom .single-link .link-content {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
      font-weight: 400; }
    .wrapper-bottom .single-link .link-btn {
      padding: 10px 20px;
      background: #494949;
      color: #fff;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      text-transform: uppercase;
      font-size: 15px;
      border-radius: 5px;
      margin-left: 0;
      position: absolute;
      bottom: 20px;
      margin-bottom: 0; }
      .wrapper-bottom .single-link .link-btn:hover {
        background: #23282d; }
    .wrapper-bottom .single-link .wrapper-infos-active {
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      bottom: 20px;
      height: 40px;
      -ms-flex-align: center;
          align-items: center; }
      .wrapper-bottom .single-link .wrapper-infos-active .dashicons-yes {
        width: 18px;
        height: 18px;
        background: #494949;
        color: #fff;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        margin-right: 5px; }
      .wrapper-bottom .single-link .wrapper-infos-active .info-active {
        font-size: 15px;
        color: #494949;
        text-transform: uppercase;
        font-weight: 700; }
  .wrapper-bottom .single-link.imagify .link-infos .link-infos-logo {
    background: url(../img/mini-imagify.svg); }
  .wrapper-bottom .single-link.imagify .link-infos .link-infos-txt h3 {
    color: #00B3D4; }

.imagify-welcome .button-primary.button-primary {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .imagify-welcome .button-primary.button-primary:hover {
    background: #338ea6 !important; }

.wrapper-settings {
  width: 860px;
  overflow: hidden;
  margin-top: 20px; }
  @media only screen and (max-width: 860px) {
    .wrapper-settings {
      width: 100%; } }

.wrapper-nav {
  background: #fff; }

.nav-tab-wrapper {
  background: #fff;
  padding-top: 0 !important;
  margin-top: 9px !important;
  margin-left: 20px !important;
  margin-right: 20px !important; }
  .nav-tab-wrapper:before {
    content: ""; }
  .nav-tab-wrapper:after {
    content: ""; }
  .nav-tab-wrapper .nav-tab {
    cursor: pointer;
    background: #fff;
    border: none;
    color: #494949;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 10px;
    margin-left: 0;
    margin-right: 2px; }
    .nav-tab-wrapper .nav-tab:hover {
      color: #f56640; }
  .nav-tab-wrapper .nav-tab-active {
    color: #f56640;
    border-bottom: 2px solid #f56640; }

.btn {
  padding: 10px 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600; }

.header {
  background: #f56640;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 30px 20px;
  margin-bottom: 20px; }
  @media only screen and (max-width: 860px) {
    .header {
      -ms-flex-direction: column;
          flex-direction: column; } }
  .header .header-right {
    text-align: right; }
    @media only screen and (max-width: 860px) {
      .header .header-right {
        text-align: center; } }
  .header .txt-1 {
    font-size: 15px;
    line-height: 24px;
    font-weight: 600; }
  .header .txt-2 {
    font-size: 15px;
    line-height: 24px; }
    .header .txt-2 a {
      color: #fff; }
      .header .txt-2 a:hover {
        text-decoration: none; }
  .header .txt-3 {
    margin-top: 5px; }
    .header .txt-3 a {
      color: #fff;
      text-decoration: none; }
    .header .txt-3 span {
      margin-left: 5px; }

.wrapper-intro {
  display: -ms-flexbox;
  display: flex;
  margin-top: -26px;
  background: #fff;
  width: 100%;
  padding-top: 20px;
  overflow: hidden; }
  @media only screen and (max-width: 860px) {
    .wrapper-intro {
      margin-bottom: 60px; } }
  .wrapper-intro .wrapper-left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 335px;
    -ms-flex-pack: center;
        justify-content: center;
    padding-left: 40px; }
    @media only screen and (max-width: 860px) {
      .wrapper-intro .wrapper-left {
        width: 100%; } }
    .wrapper-intro .wrapper-left .wrapper-txt p {
      font-size: 16px !important; }
    .wrapper-intro .wrapper-left .btn {
      background: #f56640;
      color: #fff;
      transition: all .275s; }
      .wrapper-intro .wrapper-left .btn:hover {
        background: #FC8665;
        -ms-transform: translateY(-2px);
            transform: translateY(-2px); }
  .wrapper-intro .wrapper-right {
    display: -ms-flexbox;
    display: flex;
    width: 485px;
    height: 370px;
    position: relative; }
    @media only screen and (max-width: 860px) {
      .wrapper-intro .wrapper-right {
        display: none; } }
    .wrapper-intro .wrapper-right .wrapper-right-img {
      background-image: url(../img/laptop.png);
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0; }

.wrapper-numbers {
  background: #372954;
  color: #fff;
  padding-top: 60px;
  margin-top: -26px; }
  .wrapper-numbers .top-part {
    font-size: 20px;
    padding: 0 260px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 60px; }
    @media only screen and (max-width: 860px) {
      .wrapper-numbers .top-part {
        padding: 0 20px; } }
  .wrapper-numbers .bottom-part {
    padding: 0 10px 80px 10px; }
    .wrapper-numbers .bottom-part ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      @media only screen and (max-width: 860px) {
        .wrapper-numbers .bottom-part ul {
          -ms-flex-direction: column;
              flex-direction: column;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center; } }
      .wrapper-numbers .bottom-part ul li {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        width: 23%;
        padding: 0 20px; }
        @media only screen and (max-width: 860px) {
          .wrapper-numbers .bottom-part ul li {
            width: 50%;
            margin-bottom: 20px; } }
        .wrapper-numbers .bottom-part ul li .visuel {
          text-align: center;
          margin-bottom: 20px;
          height: 60px; }
        .wrapper-numbers .bottom-part ul li .visuel-chiffre {
          background-image: url(../img/80.svg);
          background-repeat: no-repeat;
          background-position: center; }
        .wrapper-numbers .bottom-part ul li .txt {
          font-size: 14px;
          text-align: center; }
        .wrapper-numbers .bottom-part ul li:first-child .visuel {
          font-size: 40px;
          font-weight: 700; }

.wrapper-video {
  padding: 0 60px; }
  .wrapper-video .wrapper-iframe {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin-top: -54px;
    padding-bottom: 40px; }
    .wrapper-video .wrapper-iframe .wistia_responsive_padding {
      width: 100%; }
    .wrapper-video .wrapper-iframe .w-big-play-button.w-css-reset-button-important.w-vulcan-v2-button {
      background: #0e1c23 !important; }

.ytp-chrome-top {
  display: none !important; }

.wrapper-contact {
  background-color: #f56640;
  background-image: url(../img/fusee.png) !important;
  background-repeat: no-repeat !important;
  padding: 44px 70px;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  @media only screen and (max-width: 860px) {
    .wrapper-contact {
      -ms-flex-direction: column;
          flex-direction: column; } }
  .wrapper-contact .txt {
    width: 70%;
    font-size: 20px;
    line-height: 28px;
    padding-right: 40px; }
    @media only screen and (max-width: 860px) {
      .wrapper-contact .txt {
        width: 100%;
        padding-right: 0; } }
  @media only screen and (max-width: 860px) {
    .wrapper-contact .contact-btn {
      margin-top: 20px; } }
  .wrapper-contact .contact-btn a {
    padding: 10px 10px; }
  .wrapper-contact a {
    width: 30%;
    background: #0E1C23;
    color: #fff;
    transition: all .275s; }
    .wrapper-contact a:hover {
      background: #3D474E;
      -ms-transform: translateY(-2px);
          transform: translateY(-2px); }

/*

CMB PART...

*/
#cmb2-metabox-settings_page_heartbeat_control_settings {
  padding: 20px;
  margin-top: -30px; }

.cmb-type-group .cmb-th + .cmb-td {
  float: left !important;
  padding-left: 70px; }

.cmb-row h3 span:first-of-type {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .cmb-row h3 span:first-of-type .dashicons {
    font-size: 30px !important;
    margin-right: 20px; }

.js .closed .inside {
  display: block !important; }

.ui-state-default, .ui-widget-content .ui-state-default {
  background: #494949;
  border: 1px solid #979797; }

.ui-widget.ui-widget-content {
  background: #D8D8D8; }

.ui-slider-horizontal .ui-slider-range {
  background: #494949; }

.wrapper-settings .button-primary {
  background: #f56640;
  border: none;
  text-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 15px;
  margin-bottom: 20px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  transition: all .275s; }
  .wrapper-settings .button-primary:hover {
    background: #FC8665 !important;
    -ms-transform: translateY(-2px);
        transform: translateY(-2px); }

input[type=radio]:checked:before {
  background: #494949 !important; }

.cmb-type-group .cmb-repeat-group-field {
  padding-top: 10px !important; }

.cmb-type-group .cmb-repeatable-group:not(:last-of-type), .cmb-type-group .cmb-row:not(:last-of-type), .cmb2-postbox .cmb-repeatable-group:not(:last-of-type), .cmb2-postbox .cmb-row:not(:last-of-type) {
  border: none;
  background: #f7f7f7; }

.cmb2-metabox .cmb-field-list > .cmb-row:first-of-type > .cmb-td {
  margin-top: 0 !important; }

.cmb2-metabox .cmb-field-list > .cmb-row:first-of-type > .cmb-td {
  padding: 0 !important; }

.cmb-repeatable-group:last-of-type {
  background: #f7f7f7; }

.cmb-type-radio-inline .cmb-th {
  display: none; }

.cmb-row.cmb-type-slider.cmb2-id-rules-dash-0-heartbeat-control-frequency.cmb-repeat-group-field.heartbeat_frequency {
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px !important; }
  @media only screen and (max-width: 860px) {
    .cmb-row.cmb-type-slider.cmb2-id-rules-dash-0-heartbeat-control-frequency.cmb-repeat-group-field.heartbeat_frequency {
      -ms-flex-direction: column;
          flex-direction: column; } }

.cmb-row.cmb-type-slider.cmb2-id-rules-front-0-heartbeat-control-frequency.cmb-repeat-group-field.heartbeat_frequency {
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px !important; }
  @media only screen and (max-width: 860px) {
    .cmb-row.cmb-type-slider.cmb2-id-rules-front-0-heartbeat-control-frequency.cmb-repeat-group-field.heartbeat_frequency {
      -ms-flex-direction: column;
          flex-direction: column; } }

.cmb-row.cmb-type-slider.cmb2-id-rules-editor-0-heartbeat-control-frequency.cmb-repeat-group-field.heartbeat_frequency {
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px !important; }
  @media only screen and (max-width: 860px) {
    .cmb-row.cmb-type-slider.cmb2-id-rules-editor-0-heartbeat-control-frequency.cmb-repeat-group-field.heartbeat_frequency {
      -ms-flex-direction: column;
          flex-direction: column; } }

.cmb-type-group .cmb-row:not(:last-of-type) {
  border-bottom: none !important;
  margin-bottom: 0 !important; }

.cmb-inline ul {
  padding-left: 60px !important; }

.cmb-row:last-of-type, .cmb2-wrap .cmb-row:last-of-type {
  padding: 0 !important;
  background: #f7f7f7; }

.cmb-type-group .cmb-th {
  width: 220px !important;
  padding: 0 !important; }

.cmb2-wrap .cmb-row:after {
  width: 1px !important; }

.cmb-row.cmb-type-slider.cmb2-id-rules-dash-0-heartbeat-control-frequency.cmb-repeat-group-field.heartbeat_frequency .cmb-td {
  padding-left: 5px !important;
  width: 65% !important;
  padding-top: 7px !important; }

.cmb-row.cmb-type-slider.cmb2-id-rules-front-0-heartbeat-control-frequency.cmb-repeat-group-field.heartbeat_frequency .cmb-td {
  padding-left: 5px !important;
  width: 65% !important;
  padding-top: 7px !important; }

.cmb-row.cmb-type-slider.cmb2-id-rules-editor-0-heartbeat-control-frequency.cmb-repeat-group-field.heartbeat_frequency .cmb-td {
  padding-left: 5px !important;
  width: 65% !important;
  padding-top: 7px !important; }

.cmb2-wrap {
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  margin-bottom: 20px !important; }
  .cmb2-wrap .cmb-row {
    margin-bottom: 20px !important; }
    .cmb2-wrap .cmb-row .cmb-repeatable-group .postbox {
      box-shadow: none; }
      .cmb2-wrap .cmb-row .cmb-repeatable-group .postbox .cmbhandle {
        display: none; }
    .cmb2-wrap .cmb-row .cmb-repeatable-group .cmb-repeatable-grouping {
      border: none;
      padding: 0 !important;
      overflow: hidden; }
    .cmb2-wrap .cmb-row .cmb-repeatable-group .cmb-group-title {
      background: #f7f7f7;
      padding-top: 15px; }
      .cmb2-wrap .cmb-row .cmb-repeatable-group .cmb-group-title span {
        font-size: 16px;
        font-weight: bold;
        color: #494949; }
  .cmb2-wrap .inside {
    padding: 0 40px; }
  .cmb2-wrap .cmb-type-radio-inline {
    margin-bottom: 0; }

.cmb-type-group .cmb-repeatable-group:not(:last-of-type), .cmb-type-group .cmb-row:not(:last-of-type), .cmb2-postbox .cmb-repeatable-group:not(:last-of-type), .cmb2-postbox .cmb-row:not(:last-of-type) {
  border: none; }
